<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="relative overflow-hidden before:absolute before:top-0 before:start-1/2 before:bg-[url('https://preline.co/assets/svg/examples/polygon-bg-element.svg')] before:bg-no-repeat before:bg-top before:bg-cover before:size-full before:-z-[1] before:transform before:-translate-x-1/2 dark:before:bg-[url('https://preline.co/assets/svg/examples-dark/polygon-bg-element.svg')] pb-20">
        <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 pt-24 pb-10">
          <div class="mt-5 max-w-2xl text-center mx-auto">
            <h1 class="block font-bold text-gray-800 text-4xl md:text-5xl lg:text-6xl dark:text-gray-200">
              Book
              <span class="bg-clip-text bg-gradient-to-tl from-blue-500 to-violet-500 text-transparent">
                &nbsp;Gas
              </span>
            </h1>
          </div>
  
          <div></div>
  
          <div class="mt-5 max-w-3xl text-center mx-auto">
            <p class="text-lg text-gray-500 dark:text-gray-400">
              kdjas ajsdkj ddkjs fa;ls jkds lkldsjfkdsjfk d kdsj fkasdj fkasd
              fjkads jfkasd jaksd fjkasdj fs aks jkasdj fkasdj k jskdjs fkds
              jfkdsjfkjiref errirjifji rfifjri frji rijfrijf fjdksfir rje firjir
              jfijrifj irfj irfjirejf
            </p>
          </div>
        </div>
      </div>

</body>
</html>